In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random

In [2]:
df = pd.read_csv("../data/d10800_10x_JoinedTrans.csv")
df.head()

,src_file,row_id,hg38_ASF1A,hg38_CCT7,hg38_EPOR,hg38_NECAP2,hg38_LRRC8A,hg38_NDUFS8,hg38_MRPL22,hg38_HIST1H2BC,...,hg38_TBC1D10C,hg38_TMEM128,hg38_ASPSCR1,hg38_CDC20,hg38_DNAJB9,hg38_OSTM1,hg38_LCNL1,hg38_PHB,hg38_LRRC29,hg38_ZFP36
0,10x__BC__1-B01-OK-10xG_021-CD19+B_qc,1,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,1,0,2
1,10x__BC__1-B01-OK-10xG_021-CD19+B_qc,2,0,1,0,0,0,1,0,0,...,0,0,1,0,0,0,0,1,0,1
2,10x__BC__1-B01-OK-10xG_021-CD19+B_qc,3,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,10x__BC__1-B01-OK-10xG_021-CD19+B_qc,4,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
4,10x__BC__1-B01-OK-10xG_021-CD19+B_qc,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
X = df.drop(columns=['src_file', 'row_id'])
X.head()

,hg38_ASF1A,hg38_CCT7,hg38_EPOR,hg38_NECAP2,hg38_LRRC8A,hg38_NDUFS8,hg38_MRPL22,hg38_HIST1H2BC,hg38_LY96,hg38_UBE2E2-AS1,...,hg38_TBC1D10C,hg38_TMEM128,hg38_ASPSCR1,hg38_CDC20,hg38_DNAJB9,hg38_OSTM1,hg38_LCNL1,hg38_PHB,hg38_LRRC29,hg38_ZFP36
0,0,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,1,0,2
1,0,1,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,1,0,1
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
X = X.apply(pd.to_numeric, downcast='integer')

In [5]:
X.shape

(82428, 10800)

In [6]:
y = df['src_file']

In [7]:
from sklearn.feature_selection import VarianceThreshold
from scipy.sparse import csr_matrix

In [8]:
X_sparse = csr_matrix(X)
X_sparse.shape

(82428, 10800)

In [9]:
selector = VarianceThreshold(threshold=0.05)
X_selected = selector.fit_transform(X_sparse)
X_selected

<82428x2694 sparse matrix of type '<class 'numpy.int16'>'
	with 37605333 stored elements in Compressed Sparse Row format>

In [10]:
X = pd.DataFrame(X_selected.todense())
X.head()

,0,1,2,3,4,5,6,7,8,9,...,2684,2685,2686,2687,2688,2689,2690,2691,2692,2693
0,0,0,0,1,0,1,0,2,1,3,...,5,0,16,0,0,0,0,0,1,2
1,0,1,0,1,0,0,0,1,0,2,...,5,2,15,0,1,0,1,0,1,1
2,0,0,1,0,0,1,0,1,0,3,...,10,0,13,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,6,0,0,0,0,1,0,1
4,0,0,0,0,0,0,0,0,0,3,...,5,0,6,0,0,0,0,0,0,0

In [11]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [12]:
string_to_int_mapping = {string: index for index, string in enumerate(np.unique(y))}

y_mapped = np.array([string_to_int_mapping[string] for string in y])

string_to_int_mapping

{'10x__BC__1-B01-OK-10xG_021-CD19+B_qc': 0,
 '10x__MC__1-M01-OK-10xG_003-CD14+Monocytes_qc': 1,
 '10x__NK__1-NK01-OK-10xG_018-CD56+_NK_qc': 2,
 '10x__TC__1-T11-OK-T4h-10xG_026-CD4+_Helper_T_qc': 3,
 '10x__TC__1-T12-OK-T4mem-10xG_023-CD4+_CD45RO+-_Memory_T_qc': 4,
 '10x__TC__1-T13-OK-T4naive-10xG_025-CD4+_CD45RA+_CD25-_Naive_T_qc': 5,
 '10x__TC__1-T14-OK-T4reg-10xG_024-CD4+_CD25+_Regulatory_T_qc': 6,
 '10x__TC__1-T21-OK-T8-10xG_022-CD8+_Cytotoxic_T_qc': 7,
 '10x__TC__1-T22-OK-T8naive-10xG_027-CD8+_CD45RA+_Naive_Cytotoxic_T_qc': 8}

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y_mapped, test_size=0.3, stratify=y, random_state=0)

In [14]:
from joblib import dump
dump((X_train, X_test, y_train, y_test), 'preprocessed_data_10x.joblib')

['preprocessed_data_10x.joblib']

In [15]:
from sklearn.metrics import accuracy_score
from xgboost import XGBClassifier

model = XGBClassifier()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy:.2f}')

Accuracy: 0.90